<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}">
</head>
<body>
    <div>
        <h2>Equipment</h2>
        <p>Reliable, comfortable equipment that can accommodate many users is important for an effective workout. </p>
        <h2>Cleanliness</h2>
        <p>A clean and sanitary environment can improve your workout experience and increase gym retention rates. </p>
        <h2>Personal training</h2>
        <p>Personal trainers can help you achieve your goals by teaching you proper form, how to perform exercises, and holding you accountable. </p>
        <h2>Studio space</h2>
        <p>A dedicated studio space with mirrors, a sound system, and accessories like yoga mats and dumbbells can accommodate a variety of classes.  </p>
        <h2>Fitness app</h2>
        <p>A user-friendly fitness app can be used for bookings and class schedules, and to provide important information to members. </p>
        <h2>Membership management</h2>
        <p>Gym software can help with membership packages, scheduling, and payment processing.</p>
    </div>    
</body>
</html>