<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
</head>
<body>
    <div class="first">
        <h1>CHOOSE MEMBERSHIP</h1>
        <h2>Gym Membership</h2>
        <div class="second"><h3>1 Month Pass</h3>
            <p>$50.00</p>
        </div>
        <div class="second"><h3>1 Month Pass for Under 18s</h3>
            <p>$50.00</p>
        </div>
        <div class="second">
            <h3>1 Week Pass</h3>
        <p>$14.00</p>
        </div>
        <div class="second">
        <h3>1 Week Pass For Under 18s</h3>
        <p>$14.00</p>
        </div>
    </div>
</body>
</html>